.main {
  border: 1px solid black;
  display: inline-block;
  margin-top: 10px;
  padding: 5px;
  width: 60px;
  height: 20px;
}

.items {
  position: absolute;
  padding: 5px;
  border: 1px solid black;
}

.item.selected {
  background-color: cornflowerblue;
  color: white;
}